@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  :root[data-color-mode="light"] {
    --primary-bg-color: #fff;
    --secondary-bg-color: #00043c;
    --gold-color: #e2b355;
    --primary-text-color: 0 0% 0%;
    --secondary-bg-color-2: #ebedf7;
    --primary-cta-color: #00043c;
  }
  :root[data-color-mode="dark"] {
    --primary-bg-color: #121212;
    --secondary-bg-color: #1c1c1c;
    --gold-color: #e2b355;
    --primary-text-color: 0 0% 100%;
    --secondary-bg-color-2: #1c1c1c;
    --primary-cta-color: #babef6;
  }
}

.icons-Shadow:hover {
  box-shadow: 0 0 15px #3b5998;
}
.icons-Shadow-ins:hover {
  box-shadow: 0 0 15px #bc2a8d;
}

.gar {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

@media (min-width: 640px) {
  .grd {
    background: linear-gradient(
      215deg,
      rgba(226, 179, 85, 0.54) 0%,
      #00043c 74%,
      /* rgba(123, 99, 74, 0.75) 67.96%, */ #00043c 98.43%
    );
  }
}
@media (min-width: 800px) {
  .grd {
    background: linear-gradient(
      215deg,
      rgba(226, 179, 85, 0.54) 0%,
      #00043c 50%
    );
  }
}

.particles {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  width: 80%;
}

.swiper {
  width: 100% !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  position: relative !important;
  width: 200px !important;
  height: 500px !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  transition: 1s !important;
  user-select: none !important;
}

.swiper-slide::after {
  content: "" !important;
  position: absolute !important;
  inset: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(
    120deg,
    rgba(12, 11, 11, 0.8),
    rgba(39, 8, 92, 0.8)
  ) !important;
  mix-blend-mode: multiply !important;
  z-index: 1 !important;
}

.swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  transition: 1s !important;
}

.swiper-slide p {
  position: absolute !important;
  left: 20px !important;
  bottom: 10px !important;
  color: #fff !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  font-style: italic !important;
  letter-spacing: 2px !important;
  z-index: 2 !important;
  opacity: 0 !important;
  transform: rotate(360deg) scale(0) !important;
  transition: 0.8s !important;
}

.swiper-slide-active {
  position: relative !important;
  width: 350px !important;
  transition: 1s !important;
}

.swiper-slide-active::after {
  background: rgba(123, 123, 123, 0.4) !important;
}

.swiper-slide-active img {
  transform: scale(1.3) !important;
  object-position: 50% 0% !important;
}

.swiper-slide-active p {
  transform: rotate(0deg) scale(1) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #00043c !important;
  border-radius: 50% !important;
  transition: all 0.6s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  width: 32px !important;
  background-color: #6f1223 !important;
  border-radius: 14px !important;
}
