---
import Layout from "../layouts/Layout.astro";
import { fade, slide, ViewTransitions } from "astro:transitions";
---

<Layout
  title="Contact us - Dynamic Total Services"
  content="Contact us - Dynamic Total Services. - We understand the dynamic nature of the mining industry. With our flexible workforce management, you can easily adjust your staffing levels based on project demands, seasonal variations, or unforeseen events. We provide you with the agility to optimise productivity while minimising overhead costs."
>
  <main transition:name="main" transition:animate={slide({ duration: "0.4s" })}>
    <header class="m-auto py-8 bg-secondaryBg pt-16">
      <h1 class="text-3xl font-bold mb-4 text-center text-white">Contact Us</h1>
    </header>
    <div
      class="py-9 px-3 md:px-14 lg:px-32 min-h-[80vh] flex flex-col justify-center selection:bg-goldColor"
    >
      <h3 class="text-2xl font-bold mb-4">Send Us a Message</h3>
      <h4 class="text-lg mb-6">
        If you have any type of query related to our services, you can send us a
        message from here. We will be happy to hear from you
      </h4>
      <form class="flex flex-col gap-2 mb-8" id="contact-form">
        <span class="flex flex-col gap-2 md:flex-row">
          <label class="w-full">
            <p>
              Name: <span class="text-xs font-light italic">(required)</span>
            </p>
            <input
              type="text"
              class="w-full border border-gray-500 invalid:text-red-600 px-2 bg-transparent h-9 rounded-md"
              required
              minlength="3"
              maxlength="20"
              id="contact-name"
            />
          </label>
          <label class="w-full">
            <p>
              Email Address:
              <span class="text-xs font-light italic">(required)</span>
            </p>
            <input
              type="email"
              class="w-full border border-gray-500 invalid:text-red-600 px-2 bg-transparent h-9 rounded-md"
              required
              maxlength="40"
              id="contact-email"
            />
          </label>
        </span>
        <label>
          <p>Subject:</p>
          <input
            type="text"
            class="w-full border border-gray-500 px-2 bg-transparent h-9 rounded-md"
            maxlength="100"
            id="contact-subject"
          />
        </label>
        <label>
          <p>
            Message: <span class="text-xs font-light italic">(required)</span>
          </p>
          <textarea
            cols="30"
            rows="10"
            class="w-full border border-gray-500 invalid:text-red-600 px-2 bg-transparent rounded-md"
            minlength="20"
            required
            id="contact-message"></textarea>
        </label>
        <button
          class="py-3 px-20 bg-goldColor disabled:bg-gray-300 dark:disabled:bg-gray-900 text-white rounded-lg w-max self-center"
          id="contact-form-submit-btn"
        >
          Submit
        </button>
      </form>
      <h4 class="text-2xl font-semibold mb-2">Our Contacts:</h4>
      <div class="flex flex-col gap-4">
        <div class="grid md:grid-rows-2 md:grid-flow-col gap-3">
          <span>
            <h5 class="text-xl font-medium">Director</h5>
            <div class="flex gap-1 items-center">
              <span class="text-goldColor"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-user"
                >
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle></svg
                ></span
              >
              <h6>Chinonso Udeogu</h6>
            </div>
            <a
              class="hover:underline"
              href="mailto:chinonso@dynamictotalservices.com.au"
              ><div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-mail"
                  >
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                    ></path></svg
                  ></span
                >chinonso@dynamictotalservices.com.au
              </div></a
            >
            <a class="hover:underline" href="tel:0423556122">
              <div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-phone"
                  >
                    <path
                      d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                    ></path></svg
                  ></span
                >0423556122
              </div></a
            >
          </span>
          <span>
            <h5 class="text-xl font-medium">Senior Management</h5>
            <div class="flex gap-1 items-center">
              <span class="text-goldColor"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-user"
                >
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle></svg
                ></span
              >
              <h6>Zsasha</h6>
            </div>
            <a
              class="hover:underline"
              href="mailto:zsasha@dynamictotalservices.com.au"
              ><div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-mail"
                  >
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                    ></path></svg
                  ></span
                >zsasha@dynamictotalservices.com.au
              </div></a
            >
            <a class="hover:underline" href="tel:0416421337">
              <div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-phone"
                  >
                    <path
                      d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                    ></path></svg
                  ></span
                >0416421337
              </div></a
            >
          </span>
          <span>
            <h5 class="text-xl font-medium">General Manager</h5>
            <div class="flex gap-1 items-center">
              <span class="text-goldColor"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-user"
                >
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle></svg
                ></span
              >
              <h6>Ivin Hamann</h6>
            </div>
            <a
              class="hover:underline"
              href="mailto:ivin@dynamictotalservices.com.au"
              ><div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-mail"
                  >
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                    ></path></svg
                  ></span
                >ivin@dynamictotalservices.com.au
              </div></a
            >
            <a class="hover:underline" href="tel:0400872388">
              <div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-phone"
                  >
                    <path
                      d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                    ></path></svg
                  ></span
                >0400872388
              </div></a
            >
          </span>
          <span>
            <h5 class="text-xl font-medium">HR & Mobilisation Manager</h5>
            <div class="flex gap-1 items-center">
              <span class="text-goldColor"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-user"
                >
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle></svg
                ></span
              >
              <h6>Rebecca Wilson</h6>
            </div>
            <a
              class="hover:underline"
              href="mailto:rebecca@dynamictotalservices.com.au"
              ><div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-mail"
                  >
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                    ></path></svg
                  ></span
                >rebecca@dynamictotalservices.com.au
              </div></a
            >
            <a class="hover:underline" href="tel:0459960795">
              <div class="flex gap-1 items-center">
                <span class="text-goldColor"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-phone"
                  >
                    <path
                      d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                    ></path></svg
                  ></span
                >0459960795
              </div></a
            >
          </span>
        </div>
        <div>
          <h5 class="text-xl font-medium">Address</h5>
          <address class="flex gap-1 items-center">
            <span class="text-goldColor"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-map-pin"
              >
                <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                <circle cx="12" cy="10" r="3"></circle></svg
              ></span
            >
             3/11 Worcestor Bend, Davenport WA 6230
          </address>
        </div>
        <div>
          <h5 class="text-xl font-medium">Enquiries</h5>
          <a
            class="hover:underline"
            href="mailto:info@dynamictotalservices.com.au"
          >
            <div class="flex gap-1 items-center">
              <span class="text-goldColor"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-mail"
                >
                  <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                  <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                  ></path></svg
                ></span
              >
               info@dynamictotalservices.com.au
            </div></a
          >
          <p class="italic pt-1">
            For any enquiries, please don’t hesitate to contact us. We are happy
            to accommodate you in any way we can
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
<script>
  // contact form
  const contactForm = document.getElementById(
    "contact-form"
  ) as HTMLFormElement;
  const contactName = document.getElementById(
    "contact-name"
  ) as HTMLInputElement;
  const contactEmail = document.getElementById(
    "contact-email"
  ) as HTMLInputElement;
  const contactSubject = document.getElementById(
    "contact-subject"
  ) as HTMLInputElement;
  const contactMessage = document.getElementById(
    "contact-message"
  ) as HTMLInputElement;
  const contactFormSubmitBtn = document.getElementById(
    "contact-form-submit-btn"
  ) as HTMLButtonElement;

  contactForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    console.log({ contact: "contact form" });
    contactFormSubmitBtn.disabled = true;
    try {
      const res = await fetch("https://emails-forwarding.onrender.com/dts", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
        body: JSON.stringify({
          form: "Contact Us",
          subject: contactSubject.value,
          name: contactName.value,
          email: contactEmail.value,
          message: contactMessage.value,
        }),
      });
      const response = await res.json();
      if (res.ok) {
        alert(response?.message);
      } else if (response?.message) {
        alert(response?.message);
      } else {
        alert("Form could not be submitted. Something went wrong");
      }
    } catch (err) {
      alert("Form could not be submitted. Something went wrong");
    }
    contactFormSubmitBtn.disabled = false;
    contactForm.reset();
  });
</script>
