---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="FAQs - Dynamic Total Services"
  content="Frequently Asked Questions - Dynamic Total Services. - We understand the dynamic nature of the mining industry. With our flexible workforce management, you can easily adjust your staffing levels based on project demands, seasonal variations, or unforeseen events. We provide you with the agility to optimise productivity while minimising overhead costs."
>
  <main class="">
    <header class="m-auto py-8 bg-secondaryBg pt-16">
      <h1 class="text-3xl font-bold mb-4 text-center text-white">
        Frequently Asked Questions
      </h1>
    </header>
    <div
      class="py-9 px-3 flex md:px-14 lg:px-32 flex-col justify-center min-h-[74vh]"
    >
      <h3 class="text-xl font-semibold mt-2">
        What is Dynamic Total Services?
      </h3>
      <p>
        Dynamic Total Services is a platform that specializes in recruiting
        skilled workers and providing outsourcing solutions for businesses. We
        connect employers with qualified candidates and offer tailored
        outsourcing options to meet your business needs.
      </p>
      <h3 class="text-xl font-semibold mt-2">
        How much does it cost to use your services?
      </h3>
      <p>
        The cost of our services varies based on the specific requirements of
        your business. Please get in touch with us through the "Contact Us" page
        or reach out to our customer support to discuss your needs and receive a
        customized quote.
      </p>
      <h3 class="text-xl font-semibold mt-2">
        How do you ensure the quality of candidates?
      </h3>
      <p>
        While we strive to provide you with high-quality candidates, the
        responsibility of assessing candidates' qualifications and references
        lies with the employers. We encourage employers to conduct thorough
        evaluations and interviews before making hiring decisions.
      </p>
      <h3 class="text-xl font-semibold mt-2">
        What happens if I violate the Terms and Conditions?
      </h3>
      <p>
        Violating our Terms and Conditions may result in the suspension or
        termination of your contract. We encourage all users to familiarize
        themselves with our Terms and Conditions to ensure a positive experience
        on our platform.
      </p>
      <h3 class="text-xl font-semibold mt-2">
        Is my personal information secure with Dynamic Total Services?
      </h3>
      <p>
        Yes, your privacy is important to us. We have stringent security
        measures in place to protect your personal information. You can learn
        more about how we handle your data by reviewing our Privacy Policy.
      </p>

      <p class="mt-4">
        Thank you for choosing Dynamic Total Services. If you have any
        questions, please contact us at
        <a
          class="hover:underline"
          href="mailto:info@dynamictotalservices.com.au"
        >
          info@dynamictotalservices.com.au</a
        >
      </p>
    </div>
  </main>
</Layout>
