---
import Layout from "../layouts/Layout.astro";
import { fade, slide, ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import helmet from "../images/helmet.png";
---

<Layout
  title="Dynamic Total Services"
  content="The landing page of Dynamic Total Services. - We understand the dynamic nature of the mining industry. With our flexible workforce management, you can easily adjust your staffing levels based on project demands, seasonal variations, or unforeseen events. We provide you with the agility to optimise productivity while minimising overhead costs."
>
  <!-- <div class="bg-[url(/dynamic_bg.png)] bg-right bg-no-repeat mb-16 pt-12">
    <div
      class="bg-[#00043c3d] w-full text-white h-full px-3 md:px-14 lg:px-32 py-16 grd flex sm:items-center"
    >
      <div
        class="text-center w-full sm:w-3/4 flex flex-col lg:gap-3 gap-2 items-center"
      >
        <div class="flex gap-4">
          <img
            src="icon.svg"
            alt="Logo of dynamic total services"
            class="hidden sm:block w-16 h-16 lg:w-20 lg:h-20"
          />
          <div>
            <h1 class="text-2xl lg:text-4xl">DYNAMIC TOTAL SERVICES</h1>
            <div
              class="bg-gray-700 sm:bg-[#00043C] text-goldColor py-1 px-4 rounded-xl w-fit m-auto"
            >
              <h5 class="lg:text-xl">SAFETY QUALITY EXCELLENCE</h5>
            </div>
          </div>
        </div>
        <p class="italic text-center">
          "Unlocking potential, one opportunity at a time, empowering
          individuals to embrace their greatness and shape their future"
        </p>
      </div>
    </div>
  </div> -->
  <main
    transition:name="main"
    transition:animate={slide({ duration: "0.4s" })}
    class="text-white text-lg bg-secondaryBg"
  >
    <div
      class="flex landscape:min-h-screen items-center gap-7 relative after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-[url(/dynamic_bg.png)] after:bg-right after:bg-no-repeat px-3 pt-32 pb-12 md:px-14 lg:px-32 after:bg-cover after:-z-10 z-10 after:opacity-60"
    >
      <div class="grow">
        <h2 class="text-4xl text-goldColor mb-4">
          Welcome to Dynamic Total Services
        </h2>
        <p class="border-2 border-[#e2b355c4] rounded-xl p-5">
          Dynamic Total Services is your go-to partner for <span
            class="text-goldColor uppercase">top-quality</span
          > rubber lining services and <span class="text-goldColor uppercase"
            >expert employment solutions</span
          > in the mining sector. Whether you’re looking to protect your
          equipment with durable rubber linings or seeking to connect with the <span
            class="text-goldColor uppercase"
          >
            best talent in the mining industry
          </span>, we’ve got you covered.
        </p>
      </div>
      <!-- <Image
        src={helmet}
        alt="safety helmet"
        class="hidden lg:block grow"
        width="420"
        height="365"
      /> -->
      <img src="/helmet.png" alt="safety helmet" class="hidden lg:block grow" />
    </div>

    <div
      class="flex md:flex-row flex-col gap-6 justify-between px-3 md:px-14 lg:px-32 py-12"
    >
      <div
        class="border-4 border-[#e2b355c4] w-full h-[500px] relative bg-[url('/miners.png')] bg-no-repeat bg-cover"
      >
        <div
          class="px-6 py-4 flex flex-col gap-7 bottom-0 bg-[#e2b355c4] w-full text-black absolute justify-between"
        >
          <p class="text-justify">
            In the dynamic world of mining, finding the right job or the perfect
            candidate can be challenging. Dynamic Total Services bridges this
            gap by providing comprehensive employment solutions tailored to the
            mining sector.
          </p>
          <a
            href="/services/mining"
            class="border rounded py-1.5 px-2 w-fit border-secondaryBg mx-auto shadow hover:bg-secondaryBg hover:text-white bg-[#e2b355]"
          >
            Labour Hire
          </a>
        </div>
      </div>
      <div
        class="border-4 border-[#e2b355c4] w-full h-[500px] relative bg-[url('/rubber-lining-home.png')] bg-no-repeat bg-contain"
      >
        <div
          class="px-6 py-4 flex flex-col gap-7 bottom-0 bg-[#e2b355c4] w-full text-black absolute justify-between"
        >
          <p class="text-justify">
            Protecting your equipment from wear and tear is essential for
            maintaining productivity. At Dynamic Total Services, we specialize
            in providing top-tier rubber lining services to extend the lifespan
            of your machinery.
          </p>
          <a
            href="/services/rubber-lining"
            class="border rounded py-1.5 px-2 w-fit border-secondaryBg mx-auto shadow hover:bg-secondaryBg hover:text-white bg-[#e2b355]"
          >
            Rubber Lining
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
