---
import Layout from "../../../layouts/Layout.astro";
---

<Layout
  content="Looking for job - Dynamic Total Services. - We understand the dynamic nature of the mining industry. With our flexible workforce management, you can easily adjust your staffing levels based on project demands, seasonal variations, or unforeseen events. We provide you with the agility to optimise productivity while minimising overhead costs."
  title="Looking for job - Dynamic Total Services"
>
  <!-- <div
      class="py-9 px-3 md:px-14 lg:px-32 min-h-[80vh] flex flex-col justify-center"
    > -->
  <main class="min-h-[80vh] flex flex-col justify-center">
    <header class="m-auto py-8 bg-secondaryBg pt-16 w-full">
      <h1 class="text-3xl font-bold mb-4 text-center text-white w-full">
        Mining Services
      </h1>
    </header>
    <section class="py-9 px-3 md:px-14 lg:px-32 flex flex-col gap-3 mb-10">
      <div class="flex flex-col lg:flex-row items-center gap-3">
        <div class="shrink basis-0 grow w-full">
          <img
            src="../../../mine-site-reclaimer.jpg"
            alt="mine site reclaimer"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-lg"
          />
        </div>
        <div class="py-1 flex flex-col gap-2 shrink basis-0 grow">
          <h4 class="font-bold text-2xl text-goldColor">
            Compassionate Professionals.
          </h4>
          <p>
            We consistently hear that dependable staff play a pivotal role in
            maintaining the efficiency of any project site. For us,
            dependability translates to strategically matching individuals
            possessing the appropriate skills to your project's specific
            requirements. Furthermore, they remain committed. The reason behind
            this unwavering commitment is our steadfast support at every phase
            of their journey.
          </p>
          <p>
            This might seem like a straightforward principle, yet if you've
            spent any significant time within this industry, you're well aware
            that such assurances frequently fall short. More than just being
            ineffective, they present a hazard — compromising compliance, safety
            protocols, financial plans, project timelines, and ultimately your
            overall profitability.
          </p>
          <p>
            Your project demands professionals who are dedicated and
            conscientious; individuals who take pride in their work.
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row-reverse items-center gap-3">
        <div class="shrink basis-0 grow w-full">
          <img
            src="../../../radial-stacker.webp"
            alt="mine site stacker"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-lg"
          />
        </div>
        <div class="py-1 flex flex-col gap-2 shrink basis-0 grow">
          <h4 class="font-bold text-2xl text-goldColor">
            Expertise That's Verified.
          </h4>
          <p>
            Within our network, you'll find a range of skilled professionals
            including conveyor belt slicing technicians, rub-liners, and
            mechanical experts (covering roles such as scraper and roller
            technicians, boiler makers, and mechanical fitters). These
            professionals possess a proven track record of skills and
            experience.
          </p>
          <p>
            We can affirm this with confidence as we adhere to a meticulous
            vetting process designed to validate the accuracy of their CVs. This
            process encompasses in-person meetings, thorough reference checks,
            verification of trade certifications and licenses, medical
            assessments, as well as drug and alcohol screenings.
          </p>
          <p>
            Furthermore, we actively encourage these professionals to assess us
            in return. We understand that the most accomplished individuals in
            this industry seek out companies that provide unwavering support for
            both their personal growth and professional ambitions.
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-3">
        <div class="shrink basis-0 grow w-full">
          <img
            src="../../../CUSTOMER-CARE.webp"
            alt="customer care responding promptly to queries"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-lg"
          />
        </div>
        <div class="py-1 flex flex-col gap-2 shrink basis-0 grow">
          <h4 class="font-bold text-2xl text-goldColor">
            Time Aligned with Your Needs.
          </h4>
          <p>
            Upon reaching out to us, anticipate a response within two hours or
            less. Undoubtedly, time holds financial value, but it also remains
            our most precious and irreplaceable asset. Hence, for us, time is
            synonymous with respect.
          </p>
          <p>
            When your project requires manpower, we ensure their prompt
            deployment. Collaborating with us means your project objectives
            directly reflect our Key Performance Indicators (KPIs), ensuring
            that no call or email goes unanswered under our supervision.
          </p>
          <p>
            This reflects our business ethos, extending to our team as well –
            they can rely on our availability whenever they require assistance.
            We don't adhere to a "set-and-forget" approach; constant support is
            embedded in our approach.
          </p>
        </div>
      </div>
    </section>
    <section
      class="mt-10 mb-16 text-center px-3 md:px-14 lg:px-32"
      id="benefits"
    >
      <!-- <div class="mb-16"></div> -->
      <h2 class="text-3xl font-bold mb-3">Benefits of Using DYNAMICS</h2>
      <div class="flex flex-col gap-3 md:flex-row">
        <div class="bg-secondaryBg2 rounded-lg px-2 py-7">
          <div
            class="text-6xl w-16 h-16 border-2 border-goldColor flex items-center justify-center mx-auto mb-3 rounded-[50%]"
          >
            <p>1</p>
          </div>
          <h5 class="text-2xl font-semibold mb-2 text-goldColor">
            Unlock a Skilled Workforce
          </h5>
          <p>
            Gain a competitive advantage by accessing our extensive network of
            highly skilled and experienced workers in the mining industry. We
            have an established pool of talent ready to meet your specific
            needs, ensuring you have the best team to drive your mining
            operations forward.
          </p>
        </div>
        <div class="bg-secondaryBg2 rounded-lg px-2 py-7">
          <div
            class="text-6xl w-16 h-16 border-2 border-goldColor flex items-center justify-center mx-auto mb-3 rounded-[50%]"
          >
            <p class="opacity-75">2</p>
          </div>
          <h5 class="text-2xl font-semibold mb-2 text-goldColor">
            Maximise Cost Efficiency
          </h5>
          <p>
            Save valuable time and resources by partnering with us. Our labour
            hire solutions streamline the recruitment process, eliminating the
            need for extensive advertising, screening, and interviewing. This
            translates into significant cost savings, allowing you to allocate
            your budget more efficiently towards your core mining operations.
          </p>
        </div>
        <div class="bg-secondaryBg2 rounded-lg px-2 py-7">
          <div
            class="text-6xl w-16 h-16 border-2 border-goldColor flex items-center justify-center mx-auto mb-3 rounded-[50%]"
          >
            <p>3</p>
          </div>
          <h5 class="text-2xl font-semibold mb-2 text-goldColor">
            Flexible Workforce Solutions
          </h5>
          <p>
            We understand the dynamic nature of the mining industry. With our
            flexible workforce management, you can easily adjust your staffing
            levels based on project demands, seasonal variations, or unforeseen
            events. We provide you with the agility to optimise productivity
            while minimising overhead costs.
          </p>
        </div>
      </div>
      <p class="m-4 font-extralight">And many more...</p>
      <p class="bg-secondaryBg2 rounded-lg px-2 py-7">
        By choosing Dynamic Total Services, you'll benefit from our extensive
        industry knowledge, personalised service, and dedication to delivering
        exceptional results. Let us take care of your recruitment needs, so you
        can focus on what you do best—driving success.
      </p>
    </section>
    <!-- TODO: make sentences equal so align -->
    <!-- TODO: Remove bg -->
    <section class="px-3 md:px-14 lg:px-32 flex flex-col sm:flex-row gap-3">
      <div class="text-center grow shrink basis-0 bg-secondaryBg2 rounded-xl">
        <div>
          <img
            src="../../../worker.png"
            alt="a happy worker ready to work"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-t-xl"
          />
        </div>
        <div class="px-7 py-5 flex flex-col gap-2">
          <h4 class="font-bold text-2xl">Looking For People?</h4>
          <p>
            Experienced professionals accessible through a relaxed arrangement
            for project assignments of varying durations, whether short-term or
            long-term.
          </p>
          <a
            href="looking-for-people"
            class="my-2 py-2 px-5 bg-goldColor shadow-md dark:disabled:bg-gray-900 text-white rounded-lg w-max self-center"
          >
            Contact Projects
          </a>
        </div>
      </div>
      <div class="text-center grow shrink basis-0 bg-secondaryBg2 rounded-xl">
        <div>
          <img
            src="../../../REFURBISHMENT.jpg"
            alt="mine site stacker"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-t-xl"
          />
        </div>
        <div class="px-7 py-5 flex flex-col gap-2">
          <h4 class="font-bold text-2xl">Looking For Work?</h4>
          <p>
            The projects you desire, with the flexibility to choose a schedule
            that suits you. Ensuring the well-being of our employees is a top
            concern here.
          </p>
          <a
            href="looking-for-job"
            class="my-2 py-2 px-5 bg-goldColor shadow-md dark:disabled:bg-gray-900 text-white rounded-lg w-max self-center"
          >
            Contact Recruitment
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
