---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/free-mode";
import "swiper/css/thumbs";
---

<div id="particles-js" class="particles"></div>

<div class="container">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10].map((i) => (
          <div class="swiper-slide">
            <img src={`/lining-${i + 1}.jpg`} alt="" />
            <p>Picture {1 + i}</p>
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
