<div class="py-32 flex">
  <div class="">
    <h2 class="text-4xl text-goldColor">Welcome to Dynamic Total Services</h2>
    <p class="border-2 border-goldColor rounded-xl p-5">
      Dynamic Total Services is your go-to partner for <span
        class="text-goldColor uppercase">top-quality</span
      > rubber lining services and <span class="text-goldColor uppercase"
        >expert employment solutions</span
      > in the mining sector. Whether you’re looking to protect your equipment
      with durable rubber linings or seeking to connect with the <span
        class="text-goldColor uppercase"
      >
        best talent in the mining industry
      </span>, we’ve got you covered.
    </p>
  </div>
</div>
