---
import { slide } from "astro:transitions";
import Layout from "../../../layouts/Layout.astro";
---

<Layout
  content="Looking for job - Dynamic Total Services. - We understand the dynamic nature of the mining industry. With our flexible workforce management, you can easily adjust your staffing levels based on project demands, seasonal variations, or unforeseen events. We provide you with the agility to optimise productivity while minimising overhead costs."
  title="Looking for job - Dynamic Total Services"
>
  <main
    transition:name="main"
    transition:animate={slide({ duration: "0.4s" })}
    class="py-9 min-h-[80vh] flex flex-col justify-center"
  >
    <header class="m-auto py-8 bg-secondaryBg pt-16 w-full">
      <h1 class="text-3xl font-bold mb-4 text-center text-white w-full">
        Rubber Lining Services
      </h1>
    </header>
    <section class="px-3 md:px-14 lg:px-32 flex flex-col gap-3 mb-10 pt-4">
      <p class="bg-secondaryBg2 rounded-lg px-2 py-7">
        At Dynamic Total Services, we specialize in providing top-tier rubber
        lining solutions. Our services ensure the protection and longevity of
        your equipment, minimizing downtime and maximizing productivity.
      </p>
      <div class="flex flex-col lg:flex-row items-center gap-3 mt-5">
        <div class="shrink basis-0 grow w-full">
          <img
            src="/TANK LINING.jpg"
            alt="rubber lined pipes"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-lg"
          />
        </div>
        <div class="py-1 flex flex-col gap-2 shrink basis-0 grow">
          <h4 class="font-bold text-2xl text-goldColor">
            Mine Site Rubber Lining
          </h4>
          <p>
            Our team of experienced technicians offers on-site rubber lining
            services tailored to the specific needs of your mine. We handle the
            installation of high-quality rubber linings on various equipment,
            including:
          </p>
          <ul class="list-disc list-inside -mt-1 marker:text-goldColor">
            <li>Tanks</li>
            <li>Pipes</li>
            <li>Chutes</li>
            <li>Hoppers</li>
          </ul>
          <p>
            We use durable materials that withstand harsh mining conditions,
            ensuring your equipment's longevity and reliability.
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row-reverse items-center gap-3">
        <div class="shrink basis-0 grow w-full">
          <img
            src="/REDUCING SPOOLS.jpg"
            alt="rubber lining workshop"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-lg"
          />
        </div>
        <div class="py-1 flex flex-col gap-2 shrink basis-0 grow">
          <h4 class="font-bold text-2xl text-goldColor">
            Workshop Rubber Lining.
          </h4>
          <p>
            In addition to our on-site services, we also offer comprehensive
            workshop rubber lining solutions. Our state-of-the-art facility at
            3/11 Worcestor Bend, Davenport WA 6230 is equipped to handle a
            variety of rubber lining projects, from small components to large
            industrial equipment. Our workshop services include:
          </p>
          <ul class="list-disc list-inside -mt-1 marker:text-goldColor">
            <li>Precision application of rubber linings</li>
            <li>Custom fabrication of rubber-lined parts</li>
            <li>Quality control inspections</li>
          </ul>
          <p>
            Our skilled technicians work meticulously to deliver top-quality
            linings that meet industry standards.
          </p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-3">
        <div class="shrink basis-0 grow w-full">
          <img
            src="/IMG_0360.jpeg"
            alt="rubber linning inspection"
            class="brightness-[.7] w-full aspect-3/2 object-cover rounded-lg"
          />
        </div>
        <div class="py-1 flex flex-col gap-2 shrink basis-0 grow">
          <h4 class="font-bold text-2xl text-goldColor">Inspection Services</h4>
          <p>
            Regular inspection of rubber linings is crucial to maintaining
            equipment efficiency and preventing costly failures. Our inspection
            services include:
          </p>
          <ul class="list-disc list-inside -mt-1 marker:text-goldColor">
            <li>Thorough visual inspections</li>
            <li>Thickness measurements</li>
            <li>Wear analysis</li>
            <li>Detailed reports with maintenance recommendations</li>
            <li>
              Thickness measurement using our ultrasonic thickness gauge machine
              for wear thickness in tanks, chutes, conveyor belts etc
            </li>
          </ul>
          <p>
            Our team is dedicated to identifying potential issues before they
            become problems, helping you maintain continuous operations.
          </p>
        </div>
      </div>
    </section>
    <section class="my-10 text-center px-3 md:px-14 lg:px-32" id="benefits">
      <!-- <div class="mb-16"></div> -->
      <h2 class="text-3xl font-bold mb-3">Benefits of Using Us</h2>
      <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
        <div class="bg-secondaryBg2 rounded-lg px-2 py-7">
          <div
            class="text-6xl w-16 h-16 border-2 border-goldColor flex items-center justify-center mx-auto mb-3 rounded-[50%]"
          >
            <p>1</p>
          </div>
          <h5 class="text-2xl font-semibold mb-2 text-goldColor">Expertise</h5>
          <p>
            Our team brings years of experience in the mining industry, ensuring
            high-quality workmanship and attention to detail.
          </p>
        </div>
        <div class="bg-secondaryBg2 rounded-lg px-2 py-7">
          <div
            class="text-6xl w-16 h-16 border-2 border-goldColor flex items-center justify-center mx-auto mb-3 rounded-[50%]"
          >
            <p class="opacity-75">2</p>
          </div>
          <h5 class="text-2xl font-semibold mb-2 text-goldColor">
            Quality Materials
          </h5>
          <p>
            We use only the best materials to ensure durability and performance
            in challenging environments.
          </p>
        </div>
        <div class="bg-secondaryBg2 rounded-lg px-2 py-7">
          <div
            class="text-6xl w-16 h-16 border-2 border-goldColor flex items-center justify-center mx-auto mb-3 rounded-[50%]"
          >
            <p>3</p>
          </div>
          <h5 class="text-2xl font-semibold mb-2 text-goldColor">
            Customer-Centric Approach
          </h5>
          <p>
            We work closely with our clients to understand their unique needs
            and provide customized solutions.
          </p>
        </div>
        <div class="bg-secondaryBg2 rounded-lg px-2 py-7">
          <div
            class="text-6xl w-16 h-16 border-2 border-goldColor flex items-center justify-center mx-auto mb-3 rounded-[50%]"
          >
            <p>4</p>
          </div>
          <h5 class="text-2xl font-semibold mb-2 text-goldColor">
            Safety Commitment
          </h5>
          <p>
            Safety is our top priority, and we adhere to strict safety protocols
            on all projects.
          </p>
        </div>
      </div>
      <p class="m-4 font-extralight">And many more...</p>
    </section>
  </main>
</Layout>
